<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <ul>
        <li>
            <a asp-page="Index">
                Home
            </a>
        </li>
        <li>
            <a asp-page="Login">
                Login
            </a>
        </li>
        <li>
            <a asp-page="About">
                About
            </a>
        </li>
    </ul>
</nav>